<!--Definizione filtri -->
<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
      <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
    </filter>
  </defs>
</svg>
<!--Fine definizione filtri-->
<footer class="footer">
	<nav class="footer__navigation">
		<ul class="menu__items">
			<li class="menu__items__item">
				<button class="menu__item__button">
					<a href="link1.html">Link1</a>
				</button>
			</li>
			<li class="menu__items__item">
				<button class="menu__item__button">
					<a href="link1.html">Link1</a>
				</button>
			</li>
			<li class="menu__items__item">
				<button class="menu__item__button">
					<a href="link1.html">Link1</a>
				</button>
			</li>
			<!--li class="footer__navigation__item"><a href="link1.html">Link1</a></li>
			<li class="footer__navigation__item"><a href="link1.html">Link2</a></li>
			<li class="footer__navigation__item"><a href="link1.html">Link3</a></li-->
		</ul>
	</nav>

</footer>

<!--div class="menu">
	<div class="menu-wrapper">
		<ul class="menu-items">
			<li class="menu-item">
				<button class="menu-item-button">
					<i class="menu-item-icon icon icon-reply"></i>
				</button>
				<div class="menu-item-bounce"></div>
			</li>
			<li class="menu-item">
				<button class="menu-item-button">
					<i class="menu-item-icon icon icon-box"></i>
				</button>
				<div class="menu-item-bounce"></div>
			</li>
			<li class="menu-item">
				<button class="menu-item-button">
					<i class="menu-item-icon icon icon-trash"></i>
				</button>
				<div class="menu-item-bounce"></div>
			</li>
		</ul>
		<button class="menu-toggle-button">
			<i class="fa fa-plus menu-toggle-icon"></i>
		</button>
	</div>
</div-->