body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Sass #<Errno::ENOENT: No such file or directory - \\Users\\serenabeddini\\Desktop\\sass_experiment\\assets\\sass\\dfapplication.sass> \A '; } 
                            
                            body * { 
                            display: none; 
                            } 